.standings-wrapper {
    width: 640px;
    height:440px;
    text-align: center;
    background-color: white;
    padding: 10px;
    margin: 10px;
    box-shadow: 0px 7px 30px grey;

    &:hover {
        background-color: #000274;
        color: white;
        cursor: pointer;

        h4 {
            color: #ec2c83;
        }

        .standings-container {
            table {
                border: 1px solid #ec2c83;
                
                thead {
                    background-color: #ec2c83;
                }
            }
        }
        
    }

    h4 {
        font-size: 24px;
        text-transform: uppercase;
    }
    
    .standings-container {
        display: flex;
        flex-wrap: wrap;

        table {
            width: 133px;
            margin: 45px 10px 10px;
            border: 1px solid #000274;

            thead {
                background-color: #000274;
                color: white;
            }

            th, td {
                padding: 0 5px;
            }

            .team {
                text-align: left;
            }

            .points {
                text-align: right;
            }
        }
    }
}